# IDE
/.idea/
/.vscode/

# Depencencies
/node_modules/
/vendor/

# Unit-Tests
/tests/build
/build/
/tests/.phpunit.result.cache

# Local SSL certificates
private.crt
private.csr
private.key
private.pem
