{% if promotion is not empty and promotion.image is not empty %}
    <div id="fl-promotion" class="page-content container-max">
        <a href="{{ promotion.link }}">
            <img class="image" src="{{ promotion.image }}" />
        </a>
    </div>
{% endif %}
