{{ component( "Findologic::ItemList.Components.Filter.ItemFilterList") }}

<div class="list-controls">
    <div class="row">
        <div class="col-12">
            <div class="list-wrapper">
                <client-only>
                    <findologic-item-filter-list
                        template-override="#vue-findologic-item-filter-list"
                        :all-facets="{{ facets | json_encode }}"
                    ></findologic-item-filter-list>
                </client-only>
            </div>
        </div>
    </div>
</div>

<div class="list-controls">
    <div class="row">
        <div class="col-12">
            <div class="list-wrapper">
                <client-only>
                    <findologic-item-filter-tag-list></findologic-item-filter-tag-list>
                </client-only>
            </div>
        </div>
    </div>
</div>
