{{ component( "Findologic::ItemList.Components.Filter.ItemFilterList") }}
{{ component( "Findologic::ItemList.Components.Filter.ItemFilterTagList") }}

<div class="list-controls">
    <div class="row">
        <div class="col-12">
            <div class="list-wrapper">
                <item-filter-list template-override="#vue-findologic-item-filter-list" :facet-data="{{ facets | json_encode }}"></item-filter-list>
            </div>
        </div>
    </div>
</div>

<div class="list-controls">
    <div class="row">
        <div class="col-12">
            <div class="list-wrapper">
                <test-component />
            </div>
        </div>
    </div>
</div>
