<div class="row mt-3">
    <div class="col-12">
        <h1 class="h2" id="searchPageTitle">{{ trans("Ceres::Template.itemSearchResults") }} {{ searchString }}</h1>
    </div>
    <div class="col-12">
        <p>
            {{ query_info_message | raw }}
        </p>
    </div>
</div>
