<div class="row mt-3">
    <div class="col-12">
        <h1 class="h2" id="searchPageTitle">{{ query_info_message | striptags('<strong>,<a>') | raw }}</h1>
        {% if smart_did_you_mean and smart_did_you_mean|length > 0 %}
            <p class="smart-did-you-mean">{{ smart_did_you_mean | striptags('<strong>,<a>') | raw }}</p>
        {% endif %}
    </div>
</div>
