.findologic-container .category-container, .findologic-container .sub-category-container {
    position: relative;
}

.findologic-container .sub-category-container {
    padding-left: 15px;
}

.search-box-inner .autocomplete-suggestions {
    display: none !important;
}

.fl-range-slider-container .fl-range-slider {
    margin-top: 20px;
}

.fl-range-slider-container .fl-range-input {
    width: 50%;
    height: 35px;
    padding: 5px;
    display: inline;
}

.fl-range-slider-container .fl-range-slider-row {
    margin-left: -7px;
    margin-right: -23px;
}

.fl-range-slider-container .fl-unit {
    margin-left: 5px;
}

.fl-range-slider-container .fl-range-slider-submit-btn {
    margin-top: 10px;
}

@media screen and (max-width: 543px) {
    .fl-range-slider-container .fl-range-slider-submit-btn {
        width: 100%;
    }

    .fl-range-slider-container .fl-range-slider-submit-btn > .fa {
        float: none;
    }
}

.fl-item-color-tiles-container .fl-item-color-tiles-list {
    padding-left: 0;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item {
    margin: 10px 10px 10px 0;
    display: inline-block;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label {
    border: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label svg {
    width: 24px;
    height: 24px;
    margin: 3px;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label svg path {
    stroke: black;
    fill: white;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label .fl-color-tile-background {
    width: 30px;
    height: 30px;
    text-align: center;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label .fl-color-tile-background:hover {
    border: 1px solid #DDD;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label .fl-color-tile-image {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.fl-item-color-tiles-container .fl-item-color-tiles-list .fl-item-color-tiles-list-item .fl-color-tile-label .fl-color-tile-selected-image {
    position: absolute;
    z-index: 2;
}

.fl-dropdown-container {
    cursor: pointer;
    position: relative;
    padding-left: 0;
}

.fl-dropdown-container .fl-dropdown-content {
    list-style-type: none;
    position: absolute;
    width: 100%;
    padding-left: 0;
    z-index: 1;
    background-color: #fff;
}

.fl-dropdown-container .fl-dropdown-content .fl-dropdown-item {
    cursor: pointer;
    padding: 0.6rem 0 0 0;
}

/*.fl-dropdown-btn {*/
/*    background-color: #3498DB;*/
/*    color: white;*/
/*    padding: 10px;*/
/*    font-size: 14px;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*}*/

/*.fl-dropdown-btn:hover, .fl-dropdown-btn:focus {*/
/*    background-color: #2980B9;*/
/*}*/

/*.fl-dropdown {*/
/*    position: relative;*/
/*    display: inline-block;*/
/*}*/

/*.fl-dropdown-content {*/
/*    position: absolute;*/
/*    background-color: #f1f1f1;*/
/*    min-width: 160px;*/
/*    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*    cursor: pointer;*/
/*}*/

/*.fl-dropdown-content .fl-dropdown-item {*/
/*    padding: 12px 16px;*/
/*    color: #3498DB;*/
/*    display: inline-block;*/
/*}*/

/*.fl-dropdown-content .fl-dropdown-item .fl-dropdown-item-label {*/
/*    cursor: pointer;*/
/*}*/

/*.fl-dropdown-content .fl-dropdown-item .fl-filter-badge {*/
/*    font-size: 16px;*/
/*    margin-left: 15px;*/
/*    font-weight: bold;*/
/*}*/