<script type="x/template" id="vue-item-filter-tag-list">
    <div class="selected-filters clearfix">
        <span :class="'selected-filter filter-' + tag.id" v-for="tag in tagList" @click="removeTag(tag)" rel="nofollow">
            <span v-if="facetInfo[tag.id]">
                <i class="fa fa-times" aria-hidden="true"></i> ${ facetInfo[tag.id].name }: ${ tag.name }
            </span>
            <span v-else>
                <i class="fa fa-times" aria-hidden="true"></i>${ tag.name }
            </span>
        </span>

        <span class="selected-filter reset-all" v-if="tagList.length >= 2" @click="resetAllTags()" rel="nofollow">
            {{ trans("Ceres::Template.itemFilterReset") }}
        </span>
    </div>
</script>
