<script type="x/template" id="vue-findologic-item-filter-image">
    <div>
        <div v-if="!facet.noAvailableFiltersText">
            <div class="form-check" v-for="value in facet.values" :key="value.id">
                <input :id="'option-' + value.id" class="form-check-input hidden-xs-up" type="checkbox" :checked="value.selected" @change="updateFacet(value)" :disabled="isLoading">
                <label :for="'option-' + value.id" class="form-check-label" rel="nofollow">
                    <img :src="value.imageUrl" @error="handleImageError($event)" :width="value.imageUrl ? '80px' : ''"/>
                    <span v-text="value.name"></span>
                </label>
                <div class="filter-badge" v-if="value.count" v-text="value.count"></div>
            </div>
        </div>
        <p v-if="facet.noAvailableFiltersText" v-text="facet.noAvailableFiltersText"></p>
    </div>
</script>
