<!-- SSR:template(findologic-item-range-slider) -->
<script type="x/template" id="findologic-item-range-slider">
    <div class="fl-range-slider-container">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <input class="fl-range-input" v-model="valueFrom" pattern="^\d+(\.\d+)?$" data-custom-validation-message="{{ trans("Findologic::Template.itemRangeSliderFormatValidationMessage") }}">
                <span class="fl-unit" v-text="facet.unit"></span>
            </div>
            <div class="col-md-6 col-xs-6">
                <input class="fl-range-input" v-model="valueTo" pattern="^\d+(\.\d+)?$" data-custom-validation-message="{{ trans("Findologic::Template.itemRangeSliderFormatValidationMessage") }}">
                <span class="fl-unit" v-text="facet.unit"></span>
            </div>
        </div>
        <div class="row fl-range-slider-row">
            <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="fl-range-slider" :id="sanitizedFacetId"></div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 fl-range-slider-submit-btn-container">
                <button type="button"
                        class="btn btn-primary fl-range-slider-submit-btn"
                        :class="{'disabled': isDisabled}"
                        v-tooltip
                        data-toggle="tooltip"
                        data-placement="top"
                        @click="triggerFilter()"
                        title="{{ trans("Ceres::Template.itemApply") }}"
                        rel="nofollow">
                    <i v-waiting-animation="isLoading" class="fa fa-check" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</script>
<!-- /SSR -->
