<!-- SSR:template(findologic-item-filter) -->
<script type="x/template" id="vue-findologic-item-filter">
    {# Additionally checking that min and max values aren't the same, because this would be a useless filter. #}
    <div v-if="facet.name && ((typeof facet.minValue === 'undefined' && typeof facet.maxValue === 'undefined') || (facet.minValue !== facet.maxValue))" class="card col-md-{{ config('Findologic.filters_per_row') }}" :class="[isSelected ? 'fl-active' : '', facet.cssClass]">
        <div v-if="shouldShowFilter()" class="facet-title">
            <div class="h3" v-text="facet.name"></div>
            <div class="selected-values-count" v-if="selectedValuesCount > 0 && this.$parent.showSelectedFiltersCount" v-text="selectedValuesCount"></div>
        </div>
        <div v-if="facetType === 'price'">
            <client-only>
                <item-filter-price template-override="#vue-findologic-item-price" :facet="facet"></item-filter-price>
            </client-only>
        </div>
        <div v-else-if="facetType === 'range-slider'">
            <client-only>
                <item-range-slider template-override="#vue-findologic-item-range-slider" :facet="facet"></item-range-slider>
            </client-only>
        </div>
        <div v-else-if="facetType === 'image'">
            <client-only>
                <item-filter-image template-override="#vue-findologic-item-filter-image" :facet="facet" :fallbackImage="'{{ plugin_path("Findologic") }}/images/no-picture-2.png'"></item-filter-image>
            </client-only>
        </div>
        <div v-else-if="facetType === 'color'">
            <div v-if="!facet.noAvailableFiltersText">
                <client-only>
                    <item-color-tiles template-override="#vue-findologic-item-color-tiles" :facet="facet" :fallbackImage="'{{ plugin_path("Findologic") }}/images/no-picture.png'"></item-color-tiles>
                </client-only>
            </div>
            <p v-if="facet.noAvailableFiltersText" v-text="facet.noAvailableFiltersText"></p>
        </div>
        <div v-else-if="facet.id === 'cat' && shouldShowCategoryFilter()">
            <div v-if="!facet.noAvailableFiltersText">
                <div v-if="facet.findologicFilterType === 'select'">
                    <client-only>
                        <item-category-dropdown
                                v-if="facetType === 'select'"
                                template-override="#vue-findologic-item-category-dropdown"
                                :currentCategory="currentCategory"
                                :facet="facet">
                        </item-category-dropdown>
                    </client-only>
                </div>
                <div v-else-if="facet.id === 'cat' && shouldShowCategoryFilter()" class="form-check" v-for="value in facet.values" :key="value.id">
                    <div class="category-container">
                        <input :id="'option-' + value.id"
                               class="form-check-input hidden-xs-up"
                               type="checkbox"
                               :checked="isSelected"
                               @change="updateFacet(value)"
                               :disabled="isLoading"
                        >
                        <label :for="'option-' + value.id" class="form-check-label" v-text="value.name" rel="nofollow"></label>
                        <div class="filter-badge" v-text="value.count"></div>
                    </div>
                    <div v-if="isSelected">
                        <div class="sub-category-container" v-if="value.items.length > 0">
                            <div class="form-check" v-for="subCategory in value.items" :key="subCategory.id">
                                <input :id="'option-' + subCategory.id"
                                       class="form-check-input hidden-xs-up"
                                       type="checkbox"
                                       :checked="isCategorySelected(subCategory)"
                                       @change="updateFacet(getSubCategoryValue(value, subCategory))"
                                       :disabled="isLoading"
                                >
                                <label :for="'option-' + subCategory.id" class="form-check-label" v-text="subCategory.name" rel="nofollow"></label>
                                <div class="filter-badge" v-text="subCategory.count"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p v-if="facet.noAvailableFiltersText" v-text="facet.noAvailableFiltersText"></p>
        </div>
        <div v-else-if="facetType === 'select' && shouldShowFilter()">
            <div v-if="!facet.noAvailableFiltersText">
                <client-only>
                    <item-dropdown template-override="#vue-findologic-item-dropdown" :facet="facet"></item-dropdown>
                </client-only>
            </div>
            <p v-if="facet.noAvailableFiltersText" v-text="facet.noAvailableFiltersText"></p>
        </div>
        <div v-else-if="shouldShowFilter()">
            <div class="form-check" v-for="value in facet.values" :key="value.id">
                <input :id="'option-' + value.id" class="form-check-input hidden-xs-up" type="checkbox" :checked="value.selected" @change="updateFacet(value)" :disabled="isLoading">
                <label :for="'option-' + value.id" class="form-check-label" v-text="value.name" rel="nofollow"></label>
                <div v-if="!value.selected" class="filter-badge" v-text="value.count"></div>
            </div>
        </div>
    </div>
</script>
<!-- /SSR -->
