<script type="x/template" id="vue-item-dropdown">
    <div class="fl-item-dropdown-container">
        <span v-if="selectedValue" >${ selectedValue }</span>
        <span v-else >{{ trans("Findologic::Template.pleaseSelect") }}</span>
        <ul v-show="isShowDropdown">
            <li v-for="value in facet.values">
                <label class="form-check-label fl-dropdown-item-label">${ value.name }</label>
                <span class="fl-filter-badge">${ value.count }</span>
            </li>
        </ul>
    </div>
</script>