.list-controls {
    .card-columns {
        column-gap: 0;
    }
    #filterCollapse {
        position: relative;
        z-index: 0;
    }
    .main-filters {
        position: relative;
        z-index: 0;
        width: 100%;
        margin-left: -15px;
        padding-right: 15px;
        top: 100%;

        .page-content {
            background: $white;
            padding: 2em !important;
            border: 1px solid $gray-lighter2;
            margin: 0 7.5px;

            .filter-toggle {
                position: relative;
                right: 0;
                padding-left: 15px;
                transform: none;
            }
            .card {
                background-color: transparent;
                border: 0;

                h3 {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    border-bottom: 1px solid $gray-light;
                    padding-bottom: 0.5rem;
                    font-weight: bold;
                    color: $gray-dark;
                }
                .form-check {
                    padding-left: 0;

                    .form-check-input {
                        &:checked + label {
                            background: $gray-lighter2;
                            color: $gray-darker;
                            padding-left: 1.75rem;

                            &::before {
                                font-family: "FontAwesome";
                                content: "\f046";
                                opacity: 1;
                            }
                        }

                        &:disabled + label {
                            cursor: not-allowed;
                        }
                    }

                    .form-check-label {
                        padding: 0.5rem 0;
                        color: $gray-dark;
                        display: block;
                        transition: all 0.1s ease;

                        &:hover {
                            background: $gray-lightest;
                            color: $gray-dark;
                            transition: all 0.1s ease;
                            padding-left: 0.5rem;
                        }
                        &::before {
                            font-family: "FontAwesome";
                            content: "\f046";
                            opacity: 0;
                            position: absolute;
                            left: 0.5rem;
                        }
                    }
                    .filter-badge {
                        position: absolute;
                        display: inline-block;
                        font-size: 0.85rem;
                        background: $gray-lighter2;
                        padding: 0.1rem 0;
                        color: gray;
                        right: 0.5rem;
                        text-align: center;
                        min-width: 3em;
                        transform: translateY(-50%);
                        top: 1.5em;
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .list-controls .no-main-filters-filter-toggle {
        transform: translateY(-120%);
        -webkit-transform: translateY(-120%);
    }
}
