<script type="x/template" id="vue-findologic-item-search">
    <form id="search-form" method="GET" action="/search" onsubmit="return document.dispatchEvent(window.flSearchSubmitEvent);">
        <div class="search-box-inner">
            <div class="search-box-shadow-frame">
                <input name="query"
                       type="search"
                       class="search-input"
                       ref="searchInput"
                       @keyup.enter="prepareSearch()"
                       @keyup.down="keydown()"
                       @keyup.up="keyup()"
                       @focus="isSearchFocused = true"
                       @blur="setIsSearchFocused(false)"
                       autofocus>
                <button class="search-submit" type="submit" @click="search()">
                    <i class="fa fa-search sm-up"></i>
                </button>
            </div>
        </div>
    </form>
</script>
<script type="text/javascript">
    var searchForm = document.getElementById('search-form');
    var parent = searchForm.parentElement;

    if (parent.classList.contains('search-shown')) {
        var wrapper = document.createElement('div');
        wrapper.className = 'always-visible-search';
        searchForm.parentNode.insertBefore(wrapper, searchForm);
        wrapper.appendChild(searchForm);
    }
</script>
