{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}
{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}

{% set searchStyle                  = widget.settings.searchStyle.mobile %}

<script type="x/template" id="vue-findologic-item-search">
    <ol>
        {% for key, value in _context  %}
            <li>{{ key }}</li>
        {% endfor %}
    </ol>
    {% if searchStyle == "permanent" %} <div class="always-visible-search"> {% endif %}
    <form id="search-form" method="GET" action="/search" onsubmit="return document.dispatchEvent(window.flSearchSubmitEvent);">
        <div class="search-box-inner">
            <div class="search-box-shadow-frame">
                <input name="query"
                       type="search"
                       class="search-input"
                       ref="searchInput"
                       @keyup.enter="prepareSearch()"
                       @keyup.down="keydown()"
                       @keyup.up="keyup()"
                       @focus="isSearchFocused = true"
                       @blur="setIsSearchFocused(false)"
                       autofocus>
                <button class="search-submit" type="submit" @click="search()">
                    <i class="fa fa-search sm-up"></i>
                </button>
            </div>
        </div>
    </form>
    {% if searchStyle == "permanent" %} </div> {% endif %}
</script>
