<script type="x/template" id="vue-findologic-item-search">
    <form method="GET" action="/search">
        <div class="search-box-inner">
            <div class="search-box-shadow-frame">
                <input name="query"
                       type="search"
                       class="search-input"
                       ref="searchInput"
                       @keyup.enter="prepareSearch()"
                       @keyup.down="keydown()"
                       @keyup.up="keyup()"
                       @focus="isSearchFocused = true"
                       @blur="setIsSearchFocused(false)"
                       autofocus>
                <button class="search-submit" type="submit" @click="search()">
                    <i class="fa fa-search sm-up"></i>
                </button>
            </div>
        </div>
    </form>
</script>
